<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.encore_spring_pjt.mapper.BoardMapper">
    <sql id="insertColumns">title
    , content, writer, view_cnt, notice_yn, secret_yn, delete_yn, insert_time, update_time</sql>

    <sql id="selectColumns">idx
    , title
    , content, writer, view_cnt, notice_yn, secret_yn, delete_yn, insert_time, update_time</sql>


    <insert id="save" parameterType="com.example.encore_spring_pjt.domain.BoardRequest">
        INSERT INTO ENCORE_BOARD_TBL(<include refid="insertColumns"/>)
        values (#{title}, #{content},#{writer}, 0,#{noticeYn},#{secretYn}, false, NOW(), NULL)
    </insert>

    <select id="findByIdx"
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest"
            resultType="com.example.encore_spring_pjt.domain.BoardResponse">
        SELECT
        <include refid="selectColumns"/>
        FROM encore_board_tbl
        WHERE idx = #{idx}
    </select>

    <update id="updateByIdx"
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest">
        update encore_board_tbl set
        title = #{title},
        content = #{content},
        writer = #{writer},
        update_time = now()
        WHERE idx = #{idx}
    </update>

    <select id="count" resultType="int">
        select count(*)
        from encore_board_tbl
        where delete_yn = 0;
    </select>

    <update id="deleteByIdx"
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest">
        update encore_board_tbl set
        delete_yn = true,
        delete_time = now()
        WHERE idx = #{idx}
    </update>

    <select id="findAll"
            resultType="com.example.encore_spring_pjt.domain.BoardResponse">
        SELECT
        <include refid="selectColumns"/>
        FROM encore_board_tbl
        WHERE delete_yn = false
    </select>


</mapper>


