<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.encore_spring_pjt.mapper.BoardMapper">
    <sql id="boardColumns">title
    , content, writer, view_cnt, notice_yn, secret_yn, delete_yn, insert_time, update_time</sql>

    <insert id="save" parameterType="com.example.encore_spring_pjt.domain.BoardRequest">

        INSERT INTO ENCORE_BOARD_TBL(
            <include refid="boardColumns"/>

        )
        values (#{title}, #{content},#{writer}, 0,#{noticeYn},#{secretYn}, false, NOW(), NULL)
    </insert>

</mapper>
